@font-face {
  font-family: 'Urban Jungle';
  src: url('https://onwaleed.sirv.com/UrbanJungleDEMO.otf');
}

body {
  font-family: 'muli', sans-serif;
  background-color: #f9f9f9;
}
.navbar {
  height: 80px;
  background-color: white;
}
.navbar .navbar-brand {
  font-family: 'Urban Jungle', sans-serif;
  font-size: 35px;
}
.navbar .form-control {
  width: 250px;
  height: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  color: black;
  outline: none;
  box-shadow: none;
}
.navbar #search-label {
  width: 50px;
  height: 50px;
  left: 50px;
}

.navbar .nav-link {
  color: black;
  font-weight: 600;
  font-size: 15px;
}
.navbar .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar .ui-box {
  width: auto;
  height: 50px;
  padding-top: 5px;
}
.navbar .ui-box .ui {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 100px;
}
.navbar .ui-box .ui:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar .dropdown {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: auto;
  background-color: white;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}
.navbar .ui-box .search-button {
  display: none !important;
}
.navbar .nav-item:hover .dropdown {
  display: block;
}
.navbar .dropdown .nav-item {
  display: block;
}
#header .menu-box {
  width: 350px;
  height: 100%;
  top: 0px;
  left: -350px;
  position: fixed;
  z-index: 99999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transition: 0.15s ease-in-out;
}
#header .menu-box.active {
  left: 0px;
}
.bar {
  width: 35px;
  height: 1px;
  background-color: black;
  margin: 9px 0;
}
.open-menu .bar:nth-child(2) {
  width: 27px;
}
.open-menu .bar:nth-child(3) {
  width: 32px;
}
.open-menu {
  display: none;
}
.menu-box .close-button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 16px;
  text-transform: capitalize;
}
.menu-box .user-profile {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}
.menu-box .user-profile .photo {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.menu-box .user-profile .photo img {
  width: 55px;
  height: 55px;
}
.menu-box .user-profile .profile .name {
  color: black;
  font-size: 16px;
}
.menu-box .user-profile .profile a {
  color: gray;
  font-size: 15px;
  text-decoration: none;
}
.menu .mobile-menu {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
.menu .mobile-menu span {
  color: gray;
}
.menu .mobile-menu .nav-item {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  line-height: 35px;
  color: #323232;
  margin-bottom: 5px;
}
.menu .mobile-menu .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu .mobile-menu .nav-item i {
  font-size: 30px;
  padding: 6px;
  width: 50px;
}
.menu .mobile-menu .nav-item .nav-link {
  color: black;
  width: 100%;
  height: auto;
}
.main-area {
  width: 100%;
  height: auto;
  margin-top: 25px;
}
