@font-face {
  font-family: 'Urban Jungle';
  src: url('https://onwaleed.sirv.com/UrbanJungleDEMO.otf');
}

body {
  font-family: 'muli', sans-serif;
  background-color: #f9f9f9;
}
#header {
  /*
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: auto;
  */
}
.navbar {
  height: 80px;
}
.navbar .navbar-brand {
  font-family: 'Urban Jungle', sans-serif;
  font-size: 35px;
}
.navbar .form-control {
  width: 250px;
  height: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  color: black;
  outline: none;
  box-shadow: none;
}
.navbar #search-label {
  width: 50px;
  height: 50px;
  left: 50px;
}

.navbar .nav-link {
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.navbar .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar .ui-box {
  width: auto;
  height: 50px;
  padding-top: 5px;
}
.navbar .ui-box .ui {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 100px;
}
.navbar .ui-box .ui:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar .dropdown {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: auto;
  background-color: white;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
}
.navbar .ui-box .ui .search-button{
  display: none;
}
.navbar .nav-item:hover .dropdown {
  display: block;
}
.navbar .dropdown .nav-item {
  display: block;
}
#header .menu-box {
  width: 300px;
  height: 100%;
  top: 0px;
  left: -300px;
  position: fixed;
  z-index: 99999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='300' height='720' preserveAspectRatio='none' viewBox='0 0 300 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='300' height='720' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c199.823C36.632%2c193.22%2c71.094%2c179.121%2c100.219%2c155.943C127.396%2c134.315%2c145.438%2c104.601%2c159.538%2c72.859C173.516%2c41.392%2c176.49%2c8.098%2c181.05%2c-26.031C187.368%2c-73.321%2c215.138%2c-124.473%2c191.434%2c-165.878C167.969%2c-206.865%2c113.321%2c-220.61%2c66.43%2c-226.241C23.326%2c-231.417%2c-18.51%2c-214.898%2c-57.483%2c-195.769C-91.577%2c-179.035%2c-116.298%2c-150.955%2c-142.659%2c-123.615C-170.579%2c-94.659%2c-208.815%2c-70.623%2c-216.262%2c-31.094C-223.769%2c8.751%2c-196.433%2c45.197%2c-181.571%2c82.921C-165.795%2c122.967%2c-162.67%2c173.507%2c-126.48%2c196.807C-90.288%2c220.108%2c-42.361%2c207.459%2c0%2c199.823' fill='%230b2035'%3e%3c/path%3e%3cpath d='M300 936.697C339.858 937.117 367.957 898.755 398.166 872.75 424.491 850.088 446.99 825.128 464.472 795.112 483.61199999999997 762.247 506.443 728.604 504.22900000000004 690.636 501.951 651.567 477.392 618.06 452.39300000000003 587.951 426.974 557.336 399.447 518.948 359.725 516.596 319.597 514.22 294.459 559.84 257.844 576.4300000000001 228.21699999999998 589.854 187.647 579.607 166.366 604.205 145.085 628.803 156.138 666.46 152.042 698.727 148.029 730.341 133.46 761.363 142.539 791.91 152.174 824.328 178.25900000000001 847.8050000000001 203.154 870.696 232.506 897.685 260.128 936.277 300 936.697' fill='%23123559'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='300' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.bar {
  width: 35px;
  height: 2px;
  background-color: black;
  margin: 9px 0;
}
.bar.active{
  transform: rotate(45deg);
}
.main-area {
  width: 100%;
  height: auto;
  margin-top: 25px;
}
