@font-face {
  font-family: 'Urban Jungle';
  src: url('https://onwaleed.sirv.com/UrbanJungleDEMO.otf');
}

body {
  font-family: 'muli', sans-serif;
  background-color: #f9f9f9;
}
.navbar {
  height: 80px;
  background-color: white;
}
.navbar .navbar-brand {
  font-family: 'Urban Jungle', sans-serif;
  font-size: 30px;
}
.navbar .form-control {
  width: 250px;
  height: 50px;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  color: black;
  outline: none;
  box-shadow: none;
  font-family: 'muli', sans-serif;
}
.navbar #search-label {
  width: 50px;
  height: 50px;
  left: 50px;
}

.navbar .nav-link {
  color: black;
  font-weight: 400;
  font-size: 15px;
}
.navbar .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar .ui-box {
  width: auto;
  height: 50px;
  padding-top: 5px;
}
.navbar .ui-box .ui {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 100px;
}
.navbar .ui-box .ui:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar .dropdown {
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: auto;
  background-color: white;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  z-index: 99;
}
.navbar .ui-box .search-button {
  display: none !important;
}
.navbar .nav-item:hover .dropdown {
  display: block;
}
.navbar .dropdown .nav-item {
  display: block;
}
#header .menu-box {
  width: 350px;
  height: 100%;
  top: 0px;
  left: -350px;
  position: fixed;
  z-index: 99999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transition: 0.15s ease-in-out;
}
#header .menu-box.active {
  left: 0px;
}
.bar {
  width: 35px;
  height: 1px;
  background-color: black;
  margin: 9px 0;
}
.open-menu .bar:nth-child(2) {
  width: 27px;
}
.open-menu .bar:nth-child(3) {
  width: 32px;
}
.open-menu {
  display: none;
}
.menu-box .close-button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 16px;
  text-transform: capitalize;
}
.menu-box .user-profile {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
}
.menu-box .user-profile .photo {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
}
.menu-box .user-profile .photo img {
  width: 55px;
  height: 55px;
}
.menu-box .user-profile .profile .name {
  color: black;
  font-size: 16px;
}
.menu-box .user-profile .profile a {
  color: gray;
  font-size: 15px;
  text-decoration: none;
}
.menu .mobile-menu {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
.menu .mobile-menu span {
  color: gray;
}
.menu .mobile-menu .nav-item {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  line-height: 35px;
  color: #323232;
  margin-bottom: 5px;
}
.menu .mobile-menu .nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu .mobile-menu .nav-item i {
  font-size: 30px;
  padding: 8px;
  width: 50px;
}
.menu .mobile-menu .nav-item .nav-link {
  color: black;
  width: 100%;
  height: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.main-area {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 25px;
}
.main-area .post-slider {
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1;
}
.main-area .post-slider .slider-content {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.main-area .post-slider .slider-content .slide {
  width: 100%;
  min-width: 100%;
  height: 500px;
  background-color: red;
}
.dots {
  bottom: -50px;
  right: -170px;
}
.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #717171;
}
.dot.active {
  width: 15px;
}
.main-area .post-slider .slider-content .slide {
  background-color: white;
}
.post-slider #prev {
  font-size: 30px;
  left: 30px !important;
  color: gray;
  transition: all 0.15s ease-in-out;
}
.post-slider #next {
  font-size: 30px;
  right: -100px !important;
  color: gray;
  transition: all 0.15s ease-in-out;
}
.post-slider #next:hover,
#prev:hover {
  color: white;
}
.slide .content {
  width: 100%;
  height: 100%;
}
.slide .content .background {
  width: 100%;
  height: 500px;
}
.slide .content .background img {
  width: 100%;
  height: auto;
}
.slide .content .post-content {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, white, transparent);
}
.slide .content .post-content .post-description {
  width: 100%;
  height: 500px;
}
.slide .content .post-content .post-thumbnail {
  width: 100%;
  height: 500px;
}
.slide .content .post-content .post-thumbnail img {
  width: 200px;
  height: auto;
  bottom: 25px !important;
}
.slide .content .post-content .post-description .container {
  bottom: 0px;
  position: absolute;
}
.slide .content .post-content .post-description .post-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  font-weight: 900;
}
.slide .content .post-content .post-description .post-excerpt {
  font-family: 'mulish', sans-serif;
}
.slide .content .post-content .post-description .last-update {
  color: gray;
  font-size: 14px;
}
.slide .content .post-content .post-description .read-button {
  width: 120px;
  height: 50px;
  background-color: red;
  margin-top: 5px;
  margin-bottom: 15px;
}
.slide .content .post-content .post-description .read-button:hover {
  background-color: darkred;
}
.slide .content .post-content .post-description .read-button .read {
  color: white;
  text-decoration: none;
}
.main-area .post-slider {
  width: 100%;
  height: auto;
  margin-bottom: 35px;
}
.main-area .content-box {
  width: 100%;
  height: auto;
  margin-top: 25px;
}
.main-area .content-box .header {
  width: 100%;
  height: auto;
}
.main-area .content-box .header .title-content {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.main-area .content-box .content-list {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
  overflow: scroll;
  overflow-y: hidden;
}
.main-area .content-box .content-list .content {
  width: 300px;
  min-width: 300px;
  height: auto;
  margin-right: 15px;
}
.main-area .content-box .content-list .content .thumbnail {
  width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
}
.main-area .content-box .content-list .content .thumbnail img {
  width: 300px;
  height: auto;
}
.main-area .content-box .content-list .content .thumbnail .volume {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: white;
  font-family: 'mulish', sans-serif;
}
.main-area .content-box .content-list .content .content-description {
  width: 100%;
  height: 50px;
}
.main-area
  .content-box
  .content-list
  .content
  .content-description
  .content-title {
  font-family: 'rubik', sans-serif;
  font-size: 19px;
}
.main-area .content-box .content-list .content .content-description .updated {
  color: gray;
  font-size: 13px;
}
#footer {
  width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #222831;
  color: white;
}
#footer .box {
  width: 100%;
  height: auto;
  min-height: 150px;
}
#footer .logo-box {
  text-align: center;
}
#footer .logo-box .logo {
  color: white;
  font-family: 'Urban Jungle';
  font-size: 50px;
}
#footer .box h5 {
  font-size: 22px;
  color: gray;
}
#footer .box ul {
  padding: 0px;
  padding-left: 5px;
}
#footer .box ul li {
  display: block;
}
#footer .box ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'mulish', sans-serif;
}
#footer .box ul li a:hover {
  color: gray;
}
#footer .copyright {
  width: 100%;
  height: auto;
  color: gray;
  font-size: 14px;
  text-align: center;
}
