@media screen and (max-width: 992px) {
  .navbar {
    height: 70px;
    background-color: white;
  }
  .navbar .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .ui-box .search-button {
    display: block !important;
  }
  .open-menu {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar #search-form {
    display: none !important;
  }
  #footer .logo-box {
    display: none;
  }
  #footer .box h5 {
    font-size: 16px;
  }
  #footer .box ul li a {
    font-size: 12px;
  }
}