@media screen and (max-width: 992px) {
  .navbar {
    height: 70px;
    background-color: white;
  }
  .navbar .navbar-brand {
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .ui-box .search-button {
    display: block !important;
  }
  .open-menu {
    display: block;
  }
  #footer{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar #search-form {
    display: none !important;
  }
  .slide .content .post-content .post-thumbnail{
    display: none;
  }
  .slide .content .post-content .post-description{
    height: 200px;
  }
  .slide .content .post-content .post-description .post-title{
    font-size: 20px;
  }
  .slide .content .post-content .post-description .read-button{
    width: 80px;
    height: 30px;
    margin-bottom: 0px;
  }
  .slide .content .post-content .post-description .read-button .read{
    font-size: 13px;
  }
  .slide .content .post-content .post-description .post-excerpt{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
  }
  .slide .content .post-content .post-description .last-update{
    font-size: 10px;
  }
  #next i, #prev i{
    font-size: 20px;
  }
  .slider-content{
    height: 200px !important;
  }
}
